<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferta</title>
</head>
{% extends "base.html" %}
{% load static %}
<body>
    {% block content %}
    <h2 class="title-post">Introduce una nueva oferta</h2>
    <div class="post-form" id="post">

        <form method="POST" class="form1">
            {% csrf_token %}
            <table class="table1">
                {{ form.as_table }}
            </table>
            <button type="submit" class="save btn btn-default">Guardar</button>
            <button type="button" class="save btn btn-default btn"><a href="{% url 'home' %}" class="cancel">Cancelar</a></button>
        </form>
    </div>
    {% endblock %}
</body>
</html>